footer {
	font-size: 11px;
	text-align: center;
	position: sticky;
	bottom: 0;
	color: var(--screen-background);

	&.theme-dark,
	&.theme-light {
		color: var(--dark-text);
	}
}

footer a {
	color: var(--blue-active);
	font-size: 12px;
}