#keyboard {
	display: grid;
	grid-template-columns: repeat(4, 60px);
	grid-template-rows: repeat(5, 40px);
	grid-template-areas: '. . . del' '. . . .' '. . . .' 'dPoint zero . .' 'reset reset calculate calculate';
	grid-auto-flow: row dense;
	gap: 20px;
	width: 300px;
	height: 300px;
}

.digit:nth-of-type(3n + 1) {
	grid-column-start: 3;
}

.digit:nth-of-type(3n + 2) {
	grid-column-start: 2;
}

.digit:nth-of-type(3n + 3) {
	grid-column-start: 1;
}

.digit:nth-of-type(10) {
	grid-area: zero;
}

#decimalPoint {
	grid-area: dPoint;
}

#deleteBtn {
	grid-area: del;
}

#resetBtn {
	grid-area: reset;
}

#calculateBtn {
	grid-area: calculate;
}
