input[type="radio"] {
	appearance: none;
	background-color: none;
	margin: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: pointer;

	&:checked {
		background-color: var(--red-background);
	}

	&:active {
		background-color: var(--red-active);
	}
}

.key {
	box-shadow: 0 3px var(--grey-shadow);
	background-color: var(--grey-background);
	border-radius: 5px;
	border: none;
	cursor: pointer;

	span {
		text-align: center;
		display: inline;
		vertical-align: bottom;
		line-height: 1em;
		color: var(--dark-text);
		font-size: 28px;
	}

	&:active {
		background-color: var(--grey-active);
	}
}

#resetBtn,
#deleteBtn {
	@extend .key;
	box-shadow: 0 3px var(--blue-shadow);
	background-color: var(--blue-background);

	span {
		font-size: 0.6rem;
		color: var(--light-text);
		vertical-align: middle;
	}

	&:active {
		background-color: var(--blue-active);
	}
}

#calculateBtn {
	@extend .key;
	box-shadow: 0 3px var(--red-shadow);
	background-color: var(--red-background);

	span {
		font-size: 0.6rem;
		color: var(--special-text);
		vertical-align: middle;
	}

	&:active {
		background-color: var(--red-active);
	}
}