@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;800;900&display=swap'); 

* {
	font-family: 'League Spartan', sans-serif;
	font-size: 32px;
	font-weight: 700;
}